<div class = "container">
  <div class="row my-3">
    <div class="mx-auto"><img [src]="mart"></div>
  </div>
  <div class="card mx-auto" style="width: 100%;">
    <div class="card-body">
      <h2>List of Fruits</h2>
      <app-items *ngFor="let fruit of fruitList" [fruit]="fruit" (fruitClicked)="addCart($event)"></app-items>
    </div>
  </div>
  <form class = "my-4">
    <div class="d-flex justify-content-between">
      <h2>Delivery</h2>
      <button type="submit" class="btn btn-primary">Checkout</button>
      <!-- <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Checkout</button> -->
    </div>
  </form>
</div>